/* @font-collections link here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @font-collections link here */

/* utilites design */
body {
  font-family: "Poppins", sans-serif !important;
}
/* utilites design */

/* header desing form here */
header {
  background-image: linear-gradient(165deg, #024c52, #003638);
  position: relative;
  margin-bottom: 500px;
}
.programming-logo img {
  width: 56px;
  height: auto;
}
.navigation-menu nav {
  background-image: linear-gradient(2deg, #024c52, #003638);
}
.navbar-toggler-icon {
  background-image: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navigation-menu nav ul li a img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  display: flex;
}
.nav-icon {
  margin: 0 !important;
}
.badge-icon {
  padding: 6px;
  background: #ff3d68;
}
.navigation-menu nav ul li a i {
  font-size: 20px;
}

/* header text and img */
.header-text-img {
  padding-top: 50px;
  padding-bottom: 50px;
}
.side-header {
  font-size: 48px;
  margin-bottom: 35px;
  line-height: 55px;
}

.my-btn {
  padding: 15px 80px 15px 20px;
  position: relative;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right, #ff3d68, #f75c7d);
}
.my-btn:focus {
  box-shadow: none !important;
}
.my-btn:hover {
  color: white;
}
.right-arrow {
  background: white;
  position: absolute;
  top: 50%;
  left: 87%;
  transform: translate(-50%, -50%);
  color: #ff3d68;
  padding: 15px;
  border-radius: 50px;
}

/* next-batch section start from here */
.title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
}
.next-batch {
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 54px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.celander,
.dekstop,
.alarm,
.bookmark {
  background-image: linear-gradient(to right, #ff3d68, #f75c7d);
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.last-button {
  background-image: linear-gradient(165deg, #024c52, #003638);
  position: relative;
  padding: 10px 20px;
  width: 90%;
  border-radius: 40px;
  color: white;
  margin: 0 auto;
}
.last-button-column {
  position: relative;
  margin: 0;
  padding: 0;
}
.last-button h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 33%;
  left: 6%;
}
.last-btn {
  padding: 15px 80px 15px 20px;
  position: relative;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right, #ff3d68, #f75c7d);
  margin-right: -57px;
}
.last-btn:focus {
  box-shadow: none !important;
}
.last-btn:hover {
  color: white;
}
/* next-batch section end from here */
/* header text and img */

/* header desing form here */

/* main desing start from here */
.section-title {
  margin-bottom: 50px;
}
.batch-card {
  border-radius: 20px;
}
.batch-card img {
  border-radius: 20px;
}
.card-title {
  background-image: linear-gradient(165deg, #024c52, #003638);
  padding: 15px 20px;
  border-radius: 20px;
  margin: 20px 0px 25px;
}
.card-title:hover {
  cursor: not-allowed;
}
.card-text span {
  padding: 6px;
  margin: 5px;
  border-radius: 20px;
}
.course-price {
  padding: 29px 0px 0px 0px;
}

.fas.fa-check {
  background-image: linear-gradient(to right, #ff3d68, #f75c7d);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.course-details {
  text-align: justify;
  margin-bottom: 10px;
  color: #464646;
}

/* features section start from here */
.features {
  margin: 100px auto;
  /* background: #f1f1f1; */
}
.features-details-icon {
  width: 700px;
  margin: 0 auto;
}
.fas.fa-star,
.fas.fa-pen-nib {
  font-size: 80px;
  margin-bottom: 25px;
}
.Specialty,
.How-will-this-course-work {
  display: inline-block;
  cursor: pointer;
}
.Specialty h5,
.How-will-this-course-work h5 {
  font-size: 22px;
  font-weight: bold;
}
.Specialty h5,
.fas.fa-star {
  background: -webkit-linear-gradient(#ff3d68, #f75c7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Specialty::after {
  display: block;
  content: "";
  background-image: linear-gradient(to right, #ff3d68, #f75c7d);
  width: 200px;
  height: 5px;
  border-radius: 10px;
  margin: 0 auto;
}
/* features section start from here */

/* features card  */
.features-cards {
  margin-top: 100px;
}
.features-card {
  padding: 15px 4px;
  border-radius: 20px;
}
.features-title {
  font-size: 16px;
}
.features-img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
/* features card  */

/* whait you have find in this course */
.what-you-have {
  margin: 100px auto;
}
.card-title-2 {
  background-image: linear-gradient(165deg, #024c52, #003638);
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: -10px;
}
.card-title-2:hover {
  background-image: linear-gradient(165deg, #003638, #024c52);
  cursor: pointer;
}

.right-side-column {
  height: 515px !important;
  width: 600px !important;
  overflow: auto;
}
/* whait you have find in this course */

/* your projects  */
.your-projects {
  margin: 100 auto;
}
.project-card {
  border-radius: 20px;
}
/* your projects  */

/* about jhankar mahbub */
.about-jhankar-mahbub {
  background: #d1d1d161;
  margin: 100px auto 0px;
  padding: 15vh;
}
/* about jhankar mahbub */

/* question-about-our-course  */
.accordions {
  padding: 10vh;
  margin: 0px auto 100px;
  background-image: linear-gradient(165deg, #024c52, #003638);
}
.question {
  margin-top: 100px;
}
.accordion-item {
  margin-bottom: 10px;
  box-shadow: 0px 4px 12px -3px rgb(0 0 0 / 23%);
  background-color: #024c52;
  color: white;
}
.my-accordion:not(.collapsed) {
  background-color: #016972;
  color: white;
}
.my-accordion {
  background-color: #016972 !important;
  color: white !important;
}
.my-accordion:focus {
  box-shadow: none !important;
}
/* question-about-our-course  */
/* main desing start from here */

/* footer section start form here */
footer {
  padding: 10vh;
  margin-top: 100px;
}
/* footer section start form here */

/* responsive for mobile devices */
@media screen and (max-width: 688px) {
  /* header section */
  header {
    background-image: linear-gradient(165deg, #024c52, #003638);
    position: relative;
    margin-bottom: 1020px;
  }
  .nav-item {
    margin-top: 15px !important;
  }
  /* header section */
  /* next-batch section start from here */
  .next-batch {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 54px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
  }
  .card-body-icon {
    display: flex;
    flex-wrap: wrap;
  }
  .card-text {
    margin-top: 22px;
  }
  .last-button-column {
    position: relative;
    margin: 0;
    padding: 15px;
  }
  .last-button h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 1%;
    left: 2%;
    line-height: 30px;
  }
  .last-btn {
    padding: 15px 80px 15px 20px;
    position: relative;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to right, #ff3d68, #f75c7d);
    margin-right: -10px;
  }
  /* next-batch section end from here */
  /* features details icon */
  .features-details-icon {
    width: 100%;
    margin: 0 auto;
  }
  .How-will-this-course-work {
    display: none;
  }
  .Specialty {
    display: block;
    text-align: center;
  }
  /* features details icon */
}
/* responsive for mobile devices */
